# Copyright 2025 the Kubeapps contributors.
# SPDX-License-Identifier: Apache-2.0

name: B&R dep Bitnami postgres-exporter

on:
  workflow_dispatch:
  push:
    paths:
      - 'external/bitnami-deprecated-postgres-exporter/17/**'
      - '.github/workflows/release-bitnami-postgres-exporter.yml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{ github.repository }}/bitnami-deprecated-postgres-exporter
          tags: |
            type=raw,value=0.17.1

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: external/bitnami-deprecated-postgres-exporter/17
          file: external/bitnami-deprecated-postgres-exporter/17/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
